<% if user_signed_in? %>
  <h1>Selected Pets</h1>

  <table>
    <tbody>
      <%= render(cart.selected_pets) %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Edit', edit_cart_path(cart) %> |
  <%= link_to 'Back', shelter_index_path %>

  <%= button_to 'Empty Cart', cart, method: :delete %>
  <%= button_to 'Adopt Now', shelter_agreement_path, :method => :get %></td>
<% else %>
  <h3>Please Login or Sign up in order to select pets.</h3>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
