<span class="heading"><h1>Adoption Agreement</h1></span>
You have selected:<br><br>

<table>
  <thead>
    <tr>
      <th>Pet Type</th>
      <th>Name</th>
      <th>Age</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody id="the_pets">
   <% @pets.each do |pet| %>
      <tr>
        <td id="pet_typeCol"><%= pet.pet.pet_type.humanize %></td>
        <td id="nameCol"><%= pet.pet.name %></td>
        <td id="ageCol"><%= pet.pet.age %></td>
        <td id="descriptionCol"><%= pet.pet.description %></td>
        <td><%= image_tag(pet.pet.picture, class: 'pet_img') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
Do you promise to take good care of these critters?
<br><br>
<%= button_to 'I agree', finish_path, method: :get %><br>
<%= link_to "Don't Adopt", shelter_index_path %>