<tr>
  <td><%= pet.name %></td>
  <td><%= pet.age %></td>
  <td><%= pet.description %></td>
  <td><%= pet.pet_type %></td>
  <td><%= image_tag(pet.picture, :class => "pet_image") %></td>
  <% if user_signed_in? %>
    <td><%= button_to 'Select Me', selected_pets_path(pet_id: pet), remote: true %></td>
  <% end %>
</tr>
